name: Push Events
on: 
  push:
    branches:
      - test
jobs:
  show-info:
    runs-on: ubuntu-latest
    steps:
      - name: Info
        run:
          echo "This is a push event on a branch"
      
