name: Matrix
on:
  push:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04]
        node: [18,20]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node}}
      - name: Install Dependencies
        run:
          echo "Dependencies installed"
      - name: Build the app
        run:
          echo "Building App"
