name: Python Flask CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Dependencies
        run:
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest
  create-release:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - name: creating release for the workflow
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: $ {{ secret.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: Release v${{ github.run_number }}


    
    
    
