name: Using Secrets
on: push
jobs:
  use-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Call Secret to authenticate
        run: echo "API KEY used here is ${{secrets.API_KEY}}"
